<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>springtest</display-name>
  
  <!-- applicationContext.xml -->
  <context-param>
     <param-name>contextConfigLocation</param-name>
     <param-value>classpath*:config/spring/*.xml</param-value>
  </context-param>
  
  <!--dispatcher-->
  <servlet>
    <servlet-name>SpringMvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpringMvc</servlet-name>
    <url-pattern>*.*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/error.html?a=500</location>
  </error-page>
    <error-page>
    <error-code>404</error-code>
    <location>/error.html?a=404</location>
  </error-page>
  
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
</web-app>
